.container{
    background: lightgrey;
    width: 100%;
    height: 700px;
}
.center{
    padding-top: 100px;
    background: lightgrey;
    height: 300px;
    width: 1000px;
    margin: auto;
    max-width: 1000px;
    max-height: 1000px;
}

.right{
    width: 200px;
    height: auto;
    background-color: white;
    float: right;
    padding: 10px;
    border-radius: 5px;
    border-color: dimgray;
    box-shadow: black;

}
.left{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: dimgrey;
    box-shadow: black;

}
.choice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: gray;
    border-bottom: 1px solid gray;
}
.productLine{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-color: dimgrey;
    border-bottom: 1px solid gray;
}
.name{
    width: 40px;
}
.product{
    text-decoration-color: lightgrey;
    width: 500px;
    border-radius: 5px;
    border-style: outset;
    color: lightgrey;
}
.add{
    border-radius-topright: 5px;
    border-bottom-right-radius: 5px;
    background-color: dodgerblue;
    width: 90px;
    border-color: dodgerblue;
    border-bottom-color: rgba(10,73,211,0.74);
    height: 40px;
    color: white;
    font-size: large;
}
.namenew{
    align-items: center;
    background: lightgrey;
    border-radius: 5px;
    display: inline-block;
    font-size: small;
    height: 20px;
    text-align: center;


}
.round{
    display: inline-block;
    width: 10px;
    font-size: small;
    background-color: chocolate;
    border-radius: 100%;
    color: white;
    text-align: center;
}
.need{
    font-size: larger;
    height: 40px;
    border-bottom: 1px solid lightgrey;
}
.prod{
    flex-direction: row;
    height: 40px;
    border-bottom: 1px solid lightgrey;
}
.minus {
    border-radius: 100%;
    background-color: green;
    border-color: green;
    color: white;
    font-size: large;
    align-items: center;
}
.plus{
    color: white;
    border-radius: 100%;
    background-color: red;
    border-color: red;
    font-size: large;
    align-items: center;
}
.counter{
    background-color: dimgrey;
}
.delete{
    border-radius: 5px;
    background-color: red;
    border-style: none;
    height: 25px;
    width: 25px;
    color: white;
    font-size: small;
    text-align: center;
}
.bought{
    width: 75px;
    height: 25px;
    border-radius: 5px;
}